$color-primary: rgb(248, 10, 129);
$color-text-dark:black;
$color-secondary:#eef;
$color-bg:#eee;
$myColor:white;
$color-gray:gray;
$textalign:center;
$font15:15px;
$font20:20px;
$widthbtn:150px;
$widthbtn:150px;